.kp-header {
  padding: 15px 0 0 0;
  background-color: #ffffff;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    margin-bottom: 5px;
    transition: all 0.15s ease-out;
    img {
      display: inline-block;
      max-width: 100%;
      margin-right: 12px;
    }
    span {
      color: #329be5;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
  &__button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 17px 27px;
    border: none !important;
    border-radius: 5px;
    background-color: #329be5;
    color: #ffffff !important;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
  &__info {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    flex: 1;
    max-width: 750px;
    margin-bottom: 5px;
    padding: 15px 10px 5px 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    &-line {
      display: inline-flex;
      align-items: center;
      margin-bottom: 10px;
      &_highlighted {
        color: #329be5;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        span {
          color: #329be5 !important;
          font-size: 16px !important;
          font-weight: 700 !important;
        }
      }
    }
    &>div {
      display: inline-flex;
      flex-flow: column nowrap;
      margin-left: 30px;
      img {
        display: inline-block;
        margin-right: 10px;
      }
      span {
        display: inline-block;
        color: #767676;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
      }
      a {
        display: inline-block;
        border-bottom: 1px solid #767676;
        color: #767676;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        &:hover {
          border-color: transparent;
          text-decoration: none;
        }
      }
    }
  }
}

.kp-nav-contaienr {
  display: block;
  position: relative;
}

.kp-nav-toggle {
  display: none;
  padding: 6px;
}

.kp-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: #595959;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #329be5;
        text-decoration: none;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 200px;
    padding: 5px 0;
    border-top: 2px solid #329be5;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 500;
    li {
      display: block;
      a {
        display: block;
        width: 100%;
        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }
  &__droper {
    display: none;
    position: relative;
    &:hover {
      .kp-nav__drop {
        display: block;
      }
    }
  }
}

.kp-main {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 50px 0;
}

.kp-content {
  display: block;
  flex: 1;
  max-width: 915px;
}

.kp-aside {
  width: 255px;
  padding-right: 20px;
  &__title {
    display: block;
    margin-bottom: 14px;
    color: #1f1f1f;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
  }
  &__nav {
    display: block;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin-bottom: 8px;
        position: relative;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
        color: #595959;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover {
          color: #329be5;
          text-decoration: none;
        }
      }
    }
  }
  &__sub-nav {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    list-style: none;
    li {
      a {
        padding-left: 8px;
        &:before {
          display: block;
          position: absolute;
          content: '·';
          top: 0;
          left: 0;
          color: #595959;
        }
      }
    }
  }
}

.kp-top-carousel {
  display: block;
  margin-bottom: 40px;
}

.kp-top-carousel-card {
  display: block;
  background-size: cover;
  width: 100%;
  height: 260px;
  overflow-y: hidden;
  &__content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 40px 75px;
    background: rgba(0, 0, 0, 0.6);
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    padding: 12px 20px;
    border: 1px solid #329be5;
    background-color: #329be5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    display: block;
    max-width: 360px;
    max-height: 69px;
    overflow: hidden;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}

.kp-title {
  display: block;
  margin-bottom: 45px;
  overflow: hidden;
  color: #000000;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  span {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 50%;
      left: 110%;
      width: 100vh;
      height: 1px;
      background-color: #d3d3d3;
    }
  }
}

.kp-new {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.kp-new-card {
  display: inline-block;
  width: 216px;
  margin-bottom: 10px;
  &__image {
    display: block;
    width: 100%;
    height: 165px;
    margin-bottom: 14px;
    border: 1px solid #dedbdb;
    background-color: #ffffff;
    object-fit: contain;
  }
  &__title {
    display: block;
    max-height: 44px;
    margin-bottom: 5px;
    overflow: hidden;
    color: #595959;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
  }
  &__more {
    display: inline-block;
    color: #329be5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0 0 10px 0;
  color: #010101;
  font-weight: 700;
}

.kp-article {
  display: block;
  margin-bottom: 55px;
  p {
    display: block;
    margin-bottom: 25px;
    color: #595959;
    font-size: 14px;
    font-weight: 300;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

.kp-features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.kp-features-card {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 245px;
  margin-bottom: 20px;
  text-align: center;
  &__image {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 18px;
    border-radius: 999rem;
    object-fit: cover;
  }
  &__title {
    display: inline;
    border-bottom: 1px solid #329be5;
    color: #329be5;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.kp-reviews {
  display: block;
  margin-bottom: 50px;
  .slick-prev {
    left: 0;
    z-index: 1;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.5;
      .slick-prev:before {
        opacity: 0.8;
        filter: grayscale(1);
      }
    }
  }
  .slick-next {
    right: 8px;
    z-index: 1;
    &:hover {
      opacity: 0.5;
      .slick-next:before {
        opacity: 0.8;
        filter: grayscale(1);
      }
    }
  }
  .slick-prev:before {
    display: block;
    width: 26px;
    height: 26px;
    content: '';
    background: url('../images/icon_slick_left.png') no-repeat center;
  }
  .slick-next:before {
    display: block;
    width: 26px;
    height: 26px;
    content: '';
    background: url('../images/icon_slick_right.png') no-repeat center;
  }
}

.kp-reviews-card {
  display: block;
  position: relative;
  width: 100%;
  height: 190px;
  padding: 40px 50px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  &__author {
    display: inline-block;
    color: #313131;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
  }
  p {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    color: #313131;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
  }
}

.kp-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.kp-bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  background-color: #ffffff;
  font-family: "Helvetica Neue Cyr";
  &__content {
    display: block;
    width: 650px;
    a {
      display: inline-block;
      margin-bottom: 8px;
      border-bottom: 1px solid #8d8d8d;
      color: #8d8d8d;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        border-color: transparent;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin-bottom: 8px;
      color: #8d8d8d;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.1;
    }
  }
  &__title {
    display: block;
    margin-bottom: 70px;
    color: #329be5;
    font-size: 30px;
    font-weight: 700;
  }
  &__sub-title {
    display: block;
    margin-bottom: 30px;
    color: #606060;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
  }
}

.kp-map {
  display: block;
  flex: 1;
}

.kp-footer {
  display: block;
  padding: 40px;
  background-color: #ffffff;
  .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  &__copyright {
    display: block;
    margin: 14px 0;
    color: #595959;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  &__creators {
    display: block;
    text-align: center;
    color: #595959;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    a {
      display: inline;
      border-bottom: 1px solid #595959;
      color: #595959;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #329be5;
        text-decoration: none;
      }
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 12px;
        color: #5a5a5a;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #329be5;
          text-decoration: none;
        }
      }
    }
  }
}

.kp-breadcrumps {
  display: block;
  margin-bottom: 35px;
  list-style: none;
  li {
    display: inline-block;
    color: #595959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    span {
      display: inline-block;
      margin: 0 4px;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid #595959;
      color: #595959;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        text-decoration: none;
      }
    }
  }
}

.kp-page-title {
  display: block;
  margin-bottom: 45px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
}

.kp-goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.kp-goods-card {
  display: inline-block;
  width: 205px;
  margin-bottom: 40px;
  margin-right: 16px;
  &__image {
    display: block;
    width: 100%;
    height: 155px;
    margin-bottom: 14px;
    border: 1px solid #dedbdb;
    background-color: #ffffff;
    object-fit: contain;
  }
  &__title {
    display: block;
    max-height: 44px;
    margin-bottom: 5px;
    overflow: hidden;
    color: #595959;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.38;
  }
  &__more {
    display: inline-block;
    color: #329be5;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.kp-sub-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  a {
    display: inline-block;
    width: 205px;
    margin: 0 16px 16px 0;
    padding: 20px;
    border: 1px solid #dedbdb;
    background-color: #ffffff;
    color: #595959;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #ececec;
      text-decoration: none;
    }
  }
}

.kp-main-article {
  display: block;
  margin-bottom: 55px;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 25px auto;
  }
  p {
    display: block;
    margin-bottom: 20px;
    color: #595959;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
  }
  h1 {
    margin-bottom: 15px;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
  blockquote {
    display: block;
    margin: 0 0 25px 0;
    padding: 30px 140px;
    border: none;
    background-color: #329be5;
    color: #fefefe;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
  }
}

.kp-good {
  display: block;
  width: 100%;
  &>.row {
    margin-bottom: 55px;
  }
  &__image {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  &__title {
    display: block;
    margin-bottom: 24px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  &__info {
    display: block;
    max-width: 235px;
    padding: 20px 40px;
    border: 1px dashed #c4c4c4;
    background-color: #f8f8f8;
    line-height: 1;
    span {
      display: block;
      margin-bottom: 15px;
      color: #626262;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__price {
    display: block;
    margin-bottom: 20px;
    color: #050505;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
  }
  &__buy {
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid #fd130f;
    background-color: rgba(51, 158, 53, 0);
    color: #fd130f;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #fd130f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__description {
    display: block;
    max-width: 780px;
    margin-bottom: 10px;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    &-title {
      display: block;
      margin-bottom: 5px;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.kp-stocks {
  display: block;
}

.kp-stocks-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 22px;
  &__image {
    display: inline-block;
    width: 197px;
    height: 147px;
    margin-right: 20px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
    object-fit: cover;
  }
  &__description {
    display: inline-block;
    flex: 1;
    p {
      display: block;
      color: #595959;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__title {
    display: block;
    margin: 4px 0 14px 0;
    color: #595959;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      color: #329be5;
      text-decoration: none;
    }
  }
}