@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .kp-main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .kp-content {
    width: 100%;
  }
  .kp-bottom__content {
    width: 100%;
  }
  .kp-top-carousel-card__content {
    padding: 20px;
  }
  .kp-top-carousel-card__title {
    max-height: 56px;
  }
  .kp-header__info {
    padding: 15px 15px 5px 15px;
  }
  .kp-header__info>div {
    margin: 0;
  }
  .kp-main {
    padding: 20px 0;
  }
  .kp-aside__nav {
    margin-bottom: 25px;
  }
  .kp-title {
    margin-bottom: 20px;
  }
  .kp-new {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .kp-new-card {
    margin: 0 5px 10px 5px;
  }
  .kp-article {
    margin-bottom: 20px;
  }
  .kp-features {
    justify-content: space-around;
  }
  .kp-features-card__image {
    margin-bottom: 8px;
  }
  .kp-reviews-card {
    padding: 20px 30px;
  }
  .kp-reviews-card p {
    max-height: 120px;
  }
  .kp-fluid {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .kp-bottom {
    width: 100%;
    padding: 20px;
  }
  .kp-bottom__title {
    margin-bottom: 0;
  }
  .kp-bottom__sub-title {
    margin: 20px 0 15px 0;
  }
  .kp-map {
    width: 100%;
  }
  .kp-footer {
    padding: 20px;
  }
  .kp-footer__nav {
    justify-content: space-around;
    text-align: center;
  }
  .kp-footer__nav li a {
    padding: 6px;
  }
  .kp-nav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 0;
    z-index: 300;
    li {
      display: block;
      a {
        display: block;
        color: #ffffff;
      }
    }
  }
  .kp-nav__drop {
    left: 0;
    right: auto;
    li {
      a {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  .kp-nav-toggle {
    display: inline-block;
  }
  .kp-breadcrumps {
    margin-bottom: 10px;
  }
  .kp-page-title {
    margin-bottom: 20px;
  }
  .kp-goods {
    justify-content: space-around;
    margin: 0;
  }
  .kp-goods-card {
    margin: 0 5px 10px 5px;
  }
  .kp-sub-categories {
    justify-content: space-around;
    margin: 0;
  }
  .kp-sub-categories a {
    margin: 0 5px 10px 5px;
  }
  .kp-main-article blockquote {
    padding: 20px;
    text-align: left;
  }
  .kp-good>.row {
    margin-bottom: 20px;
  }
  .kp-good__title {
    margin: 15px 0;
  }
  .kp-good__info {
    padding: 25px;
  }
  .kp-stocks-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .kp-stocks-card__title {
    margin: 15px 0;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}