// bower:scss
// endbower
body {
  //overflow-x: hidden;
  background-color: #f8f8f8;
  color: #040404;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

@font-face {
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
  font-family: "Helvetica Neue Cyr";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/HelveticaNeueCyr-Light.otf');
  font-family: "Helvetica Neue Cyr";
  font-weight: 300;
}

@import "atoms";
@import "restyle";
@import "responsive";